
<br/>
<div class="jumbotron">
  <h1>The Town Square:</h1><h2>Leland and Surrounding Cities</h2>
  <p>This is a reddit style resource for communicating about what's going on in your city!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Initiatives</h2>
    <p>
      <li>Movement to restore more baseball games to the park during the summer?</li>
      <li>Tackle the decline in school performance?</li>
      <li>Mentorship?</li>
      <li>Entertainment</li>
      <li>Etc...</li>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Economy</h2>
    <p>
      <li>Attracting more businesses to the area?</li>
      <li>Career path and alumni advice</li>
      <li>Entrepreneurship</li>
      <li>Etc...</li>
    </p>
  </div>
  <div class="col-md-4">
    <h2>Expatriates</h2>
    <p>
      <li>What's happening in our hometown?</li>
      <li>How to get involved effectively?</li>
      <li>Places for outreach?</li>
      <li>Etc...</li>
    </p>
  </div>
</div>