
<br/>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves boredom</h2>
    <p>Bloccit will give you a place to escape the boredom and write what's on your mind.</p>
  </div>
  <div class="col-md-4">
    <h2>Connects people</h2>
    <p>Bloccit will connect people, all over the world, who can read what's on your mind.</p>
  </div>
  <div class="col-md-4">
    <h2>Gives you perspective</h2>
    <p>Bloccit will make you well-rounded, from reading about the latest topics to learning how to make detergent.</p>
  </div>
</div>